<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rehab System | Login</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
<div class="container">
    <div class="login-card">
        <h2>Rehab Center Login</h2>
        <p class="subtitle">Secure Access Panel</p>

        {% if error %}
        <div class="error-box">{{ error }}</div>
        {% endif %}

        <form action="/login" method="POST">

            <div class="input-group">
                <label>Username</label>
                <input type="text" name="username" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>

            <button class="btn-login" type="submit">Login</button>

        </form>

    </div>

</div>

</body>
</html>
